* {

font-family:"Open Sans", sans-serif;
}


.form {
  margin: 3% 2% 1% 2%;
}

.list {
list-style-type:none;
text-align: center;
background-color: rgb(153, 190, 253);
border: 1px solid gray;
padding: 15px 10px;
font-weight: bold;
line-height: 195%;
margin-top: 2%;
}

.list li {
font-size:12pt;
cursor:pointer;
padding:5px 0;
}

.list li:hover {
background:rgb(245,153,24);
color:#fff;
}

.msgbox {
display:none;
z-index:400;
position:fixed;
bottom:40px;
left:5%;
}

body,#map-canvas {
height:100%;
}



